<header>
    <div class="container" ui-view="header"></div>
</header>
<section>
    <div class="container" ui-view="section"></div>
</section>
<footer class="footer">
    <div class="container" ui-view="footer"></div>
</footer>